---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import
  "variables",
  "themes",
  "layout",
  "base"
;






.inline-text {
  font-size: 20px;
  margin-right: -15px; /* Pulls the icon closer */
}

.inline-icon {
  color: black;
  margin-left: -10px; /* Overlaps the text */
}