---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title != "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers -%}

    <h2>Selected publications</h2>

     <ol type="1">
        <li>Data on the Go: Seamless Data Routing for Intermittently-Powered Battery-Free
          Sensing</li>
          <strong>Gaosheng Liu</strong>, Lin Wang
          <br>
          <em>{IEEE} Trans. Mob. Comput.</em> (<strong><b>TMC</b></strong>), 2024


        <li>A Little Certainty is All We Need: Discovery and Synchronization Acceleration
          in Battery-Free IoT</li>
          <strong>Gaosheng Liu</strong>, Vinod Nigade and Henri E. Bal and Lin Wang
          <br>
           <em>Proceedings of the 8th Asia-Pacific Workshop on Networking</em><br>
           <strong><b>ACM APNet</b></strong>, 2024


        <li>Routing for Intermittently-Powered Sensing Systems</li>
            <p> 🔥 &nbsp;🎉🎉  <strong>Win the best paper award </strong> </p>
            <strong>Gaosheng Liu</strong>, Lin Wang</a>
            <br>
            <em>IEEE International Performance, Computing, and Communications Conference</em><br><strong><b>IPCCC2023</b></strong>, 2023
        
        
        <li> Self-Sustainable Cyber-Physical Systems with Collaborative Intermittent
          Computing</li>
          <strong>Gaosheng Liu</strong>, Lin Wang
          <br>
          <em>e-Energy '21: The Twelfth {ACM} International Conference on Future
           Energy Systems</em><br> <strong><b>e-Energy </b></strong>, 2021
     
    </ol> 






    {%- endif %}

    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

  </div>
